@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: cursive;
}

.window-app input {
  font-family: cursive;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0px;
  margin: 1% 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to tailsofequestria sheets */
.tailsofequestria .item-form {
  font-family: cursive, sans-serif;
}

.tailsofequestria .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.tailsofequestria .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tailsofequestria .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: auto;
  width: auto;
  max-width: 160px;
  border: none;
  max-height: 200px;
  place-self: center;
}

.tailsofequestria .item-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: auto;
  width: auto;
  max-width: 160px;
  border: none;
  max-height: 160px;
  place-self: center;
}

.tailsofequestria h1 {
  height: 10%;
  font-size: x-large;
  border-bottom: 0;
}

.tailsofequestria .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.tailsofequestria .sheet-body,
.tailsofequestria .sheet-body .tab,
.tailsofequestria .sheet-body .tab .editor {
  height: auto;
  min-height: 50px;
}

.tailsofequestria .tox .tox-editor-container {
  background: #fff;
}

.tailsofequestria .tox .tox-edit-area {
  padding: 0 8px;
  min-height: 200px;
}

.tailsofequestria .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.tailsofequestria input {
  border: none;
  border-radius: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.tailsofequestria textarea {
  border-radius: 10px;
  border: 3px solid #f4c2df;
  background: white;
  min-height: 100px;
}

.tailsofequestria select {
  border: 3px solid #f4c2df;
  background: white;
  border-radius: 30px;
  padding: 1%;
  width: 100%;
}

.tailsofequestria input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button;
  opacity: 1;
}

.tailsofequestria .tabs {
  height: 40px;
  border: none !important;
}

.tailsofequestria .tabs .item {
  font-weight: bold;
}

.tailsofequestria .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.tailsofequestria .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.tailsofequestria .item-header {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.tailsofequestria .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.tailsofequestria .items-list .item img {
  display: block;
}

.tailsofequestria .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 2px;
  margin-right: 5px;
}

.tailsofequestria .item-title {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.tailsofequestria .sheet-name {
  margin-bottom: 15px;
}

.tailsofequestria .item-name {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  font-weight: bold;
}

.tailsofequestria .talentdice {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 1%;
}

.tailsofequestria .item-create {
  font-size: small;
  margin-left: 5px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.tailsofequestria .item-edit .item-delete {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.tailsofequestria .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: right;
}

.tailsofequestria .item-control {
  margin: 0 4px;
}

.tailsofequestria .itemList {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: smaller;
}

.tailsofequestria .itemcard {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  min-height: 50px;
  font-size: small;
  padding-bottom: 2%;
  margin: 1px;
}

.tailsofequestria .itemInfo {
  margin-top: -10px;
}

.tailsofequestria .friendshiptoken {
  background: -o-radial-gradient(center, ellipse, #f8e1e7 0%, #f8e1e7 70%, rgba(224, 187, 228, 0) 70.3%);
  background: radial-gradient(ellipse at center, #f8e1e7 0%, #f8e1e7 70%, rgba(224, 187, 228, 0) 70.3%);
  border: 2px solid #f4c2df !important;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  position: relative;
  margin-right: 25%;
  margin-left: 25%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.tailsofequestria .friendshiptoken input {
  width: 80%;
}

.tailsofequestria .colorscheme {
  background: #f7ebc3;
  border-radius: 30px;
  padding: 1%;
}

.tailsofequestria .textcenter {
  text-align: center;
}

.tailsofequestria .borderBottom {
  width: 100%;
  border: none;
  border-radius: 0px;
  border-bottom: 5px solid #f4c2df;
  background: rgba(0, 0, 0, 0);
}

.tailsofequestria .dataheight {
  height: 50px;
}

.tailsofequestria .InfoElipse {
  font-size: smaller;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.tailsofequestria .infosheet {
  width: 340px;
  max-width: 340px;
  min-width: 340px;
  font-size: small;
}

.tailsofequestria .cuteborder {
  border: 2px solid #f4c2df;
  background: #f8e1e7;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.tailsofequestria .cutebigtab {
  border: 5px solid #f4c2df;
  background: #fff8e1;
  border-radius: 30px;
  margin: 5px;
  padding: 10px;
}

.tailsofequestria .cutenavposition {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  top: 80px;
  left: 20px;
  width: 5px;
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 0px !important;
  flex: 0 0 0 !important;
}

.tailsofequestria .cutenav {
  background: -o-radial-gradient(center, ellipse, white 0%, white 70%, rgba(224, 187, 228, 0) 70.3%);
  background: radial-gradient(ellipse at center, white 0%, white 70%, rgba(224, 187, 228, 0) 70.3%);
  border: 5px solid #f4c2df !important;
  border-radius: 100%;
  margin-top: 3px;
  text-align: center;
}

.tailsofequestria .cutenavIcon {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.tailsofequestria .cutenavText {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: none;
  margin-bottom: none;
}

.tailsofequestria .cuteTalentBorder {
  border: 3px solid #f4c2df;
  background: white;
  border-radius: 30px;
  margin: 1px;
  margin-bottom: 01px;
  padding: 1%;
  padding-right: 10px;
  padding-left: 5px;
}

.tailsofequestria .talentsheet {
  width: auto;
  min-width: 335px;
  margin-left: 15px;
  padding-left: 25px;
  padding-right: 10px;
}

.tailsofequestria .talentcard {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  min-height: 50px;
  font-size: small;
  padding-bottom: 2%;
  /*margin: 1px;*/
}

.tailsofequestria .talentcard img {
  border: none;
}

.tailsofequestria .talentInfo {
  height: auto;
  font-size: smaller;
  margin-top: -10px;
}

.tailsofequestria .talentright {
  max-width: 230px;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

/* Override style.css to center icons */
.sheet nav.sheet-tabs .item {
  padding: 5px;
}
