<form class="{{cssClass}} flexcol colorschemebody " autocomplete="off">
    <div class="colorscheme flexrow">
        <div class="cutebigtab infosheet">
            <div class="grid-2col">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="auto"
                    width="100" />
                <div>
                    <h1 class="resource-label sheet-name flex-right flex-between">
                        <input class="borderBottom" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
                    </h1>
                    </h1>
                    <div class="cuteborder ">
                        <label class="resource-label" for="data.race">Race</label>
                        <input type="text" name="data.race" value="{{data.race}}" data-dtype="text" />
                    </div>
                    <div class="cuteborder flexrow flex-group-center">
                        <label class="resource-label flex-group-left "  for="data.isUnique">Unique</label>
                        <input type="checkbox" name="data.isUnique" {{checked data.isUnique}} />
                    </div>
                    <div class="flex-group-center cuteborder">
                        <label class="resource-label" for="data.stamina.value">Stamina</label>
                        <div class="flexrow flex-group-center">
                            <input type="text" name="data.stamina.value" value="{{data.stamina.value}}"
                                data-dtype="Number" />
                            <span> / </span>
                            <input type="text" name="data.stamina.max" value="{{data.stamina.max}}" data-dtype="Number" />
                        </div>
                        <div class="flexrow flex-group-center">
                            <label class="resource-label" for="data.stamina.damagereduction">Armor</label>
                            <input type="number" name="data.stamina.damageReduction.value"
                                value="{{data.stamina.damageReduction.value}}" data-dtype="Number" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="abilities grid grid-3col">
                {{#each data.abilities as |ability key|}}
                <div class="ability flexcol flex-group-center cuteborder">

                    {{!-- data-roll = "caracdice, modifier;0,0--}}
                    <span class="ability-mod rollable " data-roll="{{ability.value}};{{ability.modif}}/"
                        data-label="{{key}}">
                        <label for="data.abilities.{{key}}.value" class="resource-label">{{key}} <i
                                class="fas fa-dice-d20"></i></label>
                    </span>
                    <div class="flexcol flex-group-center">
                        <select name="data.abilities.{{key}}.value">
                            {{#select ability.value}}
                            <option value="1d4">1d4</option>
                            <option value="1d6">1d6</option>
                            <option value="1d8">1d8</option>
                            <option value="1d10">1d10</option>
                            <option value="1d12">1d12</option>
                            <option value="1d20">1d20</option>
                            <option value="1d20,1d4">1d20+1d4</option>
                            <option value="1d20,1d6">1d20+1d6</option>
                            <option value="1d20,1d8">1d20+1d8</option>
                            <option value="1d20,1d10">1d20+1d10</option>
                            <option value="1d20,1d12">1d20+1d12</option>
                            <option value="1d20,1d20">2d20</option>
                            <option value="1d20,1d20,1d4">2d20+1d4</option>
                            <option value="1d20,1d20,1d6">2d20+1d6</option>
                            <option value="1d20,1d20,1d8">2d20+1d8</option>
                            <option value="1d20,1d20,1d10">2d20+1d10</option>
                            <option value="1d20,1d20,1d12">2d20+1d12</option>
                            <option value="1d20,1d20,1d20">3d20</option>
                            {{/select}}
                        </select>
                        <div class="resource-content flex flexrow flex-group-center">
                            <label for="data.abilities.{{key}}.modif">mod</label>
                            <input type="number" step="1" name="data.abilities.{{key}}.modif" value="{{ability.modif}}"
                                data-dtype="Number" />
                        </div>

                    </div>
                </div>
                {{/each}}

            </div>
            <div class="resource flexcol flex-left cuteborder quirktab">
                <div class="flexrow">
                    <div class="itemList">
                        <h4 class="resource-label">Quirks</h4>
                    </div>
                    <div class="item-controls flexrow">
                        <a class="item-create" title="Create item" data-type="quirk">
                            <i class="fas fa-plus"></i> Add</a>
                    </div>
                </div>
                <div class="flexrow ">
                    {{#each actor.quirks as |item id|}}
                    <div class="item flexrow flex-group-center itemList cuteTalentBorder" data-item-id="{{item._id}}">
                        <div class="item-controls">
                            <a class="item-delete" title="Delete Item">
                                <i class="fas fa-minus-circle"></i>
                            </a>
                            <a class=" item-edit" title="Edit Item">{{item.name}}</a>

                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="resource flexcol flex-left cuteborder">
                <label class="resource-label">Tactics</label>
                <textarea type="text" name="data.tactics" value="{{data.tactics}}"
                    data-dtype="text">{{data.tactics}}</textarea>
            </div>

        </div>

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs cutenavposition flexcol flex-group-center" data-group="primary">
            <a class="cutenav item" data-tab="talents"><i class="fas fa-star"></i></a>
            <a class="cutenav item" data-tab="items"><i class="fas fa-shopping-bag"></i></a>
            <a class="cutenav item" data-tab="reputations"><i class="fas fa-heart"></i></a>
            <a class="cutenav item" data-tab="description"><i class="fas fa-horse-head"></i></a>
        </nav>

        <div class="cutebigtab talentsheet">
            {{!-- Sheet Body --}}
            <section class="sheet-body ">

                {{!-- Owned Talents Tab --}}
                <div class="tab items" data-group="primary" data-tab="talents">
                    <div class="flexrow ">
                        <div class="itemList">
                            <h2 class="resource-label borderBottom">Talents</h2>
                        </div>
                        <div class="item-controls">
                            <p class="  flex-group-right"><a class="item-create" title="Create item" data-type="talent">
                                    <i class="fas fa-plus"></i> Add</a></p>
                        </div>
                    </div>
                    <div class="itemList">
                        {{#each actor.talents as |item id|}}
                        <div class=" talentcard item cuteborder flexrow flex-group-center" data-item-id="{{item._id}}">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="45"
                                    height="45" />
                            </div>
                            <div class="flexcol talentright">
                                <div class="ability-mod  item-title flexrow flex-group-center">
                                    <h4 data-roll="{{item.data.talentLevel.value}};{{item.data.modif}}/{{item.data.ability.value}}"
                                        data-label="{{item.name}}" class="flex-group-left item-name rollable"><i
                                            class="fas fa-dice-d20"></i> {{item.name}} </h4>
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i
                                            class="fas fa-trash"></i></a>
                                </div>
                                <div class="flexrow flex-group-center talentInfo">
                                    <p class="flex-group-left">Level : {{item.data.talentLevel.value}}
                                        {{#if item.data.ability.value}}({{item.data.ability.value}}){{/if}}</p>
                                    {{#if item.data.usePer.numberOfUse}}
                                    <p class="flex-group-left">use per {{item.data.usePer.period}} :
                                        {{item.data.usePer.numberOfUse}} / {{item.data.usePer.maxValue}} </p>{{/if}}
                                </div>
                                <div class="flexrow flex-group-center talentInfo">
                                    {{#if item.data.poolPoint.isUsed}} <p class="flex-group-left"> Points :
                                        {{item.data.poolPoint.value}} / {{item.data.poolPoint.maxValue}} </p> {{/if}}
                                    {{#if item.data.dicePool.isUsed}} <p class="flex-group-left"> Dices :
                                        {{item.data.dicePool.value}} </p>{{/if}}
                                </div>
                            </div>
                        </div>

                        {{/each}}
                    </div>
                </div>

                {{!-- Owned Items Tab --}}
                <div class="tab items" data-group="primary" data-tab="items">
                    <div class="flexrow ">
                        <div class="itemList">
                            <h2 class="resource-label borderBottom">Inventory</h2>
                        </div>
                        <div class="item-controls">
                            <p class=" flex-group-right"><a class="item-create" title="Create item" data-type="item">
                                    <i class="fas fa-plus"></i> Add</a></p>
                        </div>
                    </div>
                    <div class="itemList">
                        {{#each actor.gear as |item id|}}
                        <div class=" itemcard cuteborder item flexrow" data-item-id="{{item._id}}">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="35"
                                    height="35" />
                            </div>
                            <div class="flexcol talentright">
                                <div class="ability-mod  item-title flexrow flex-group-center">
                                    <h4 class="flex-group-left item-name">{{item.name}}
                                    </h4>
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i
                                            class="fas fa-trash"></i></a>
                                </div>
                                <div class="flexrow flex-group-left itemInfo ">
                                    quantity : {{item.data.quantity}}
                                </div>
                            </div>
                        </div>

                        {{/each}}
                    </div>

                </div>


                {{!-- Owned Reputations Tab --}}
                <div class="tab items" data-group="primary" data-tab="reputations">
                    <div class="flexrow ">
                        <div class="itemList">
                            <h2 class="resource-label borderBottom">Reputations</h2>
                        </div>
                        <div class="item-controls">
                            <p class="  flex-group-right"><a class="item-create" title="Create item"
                                    data-type="reputation">
                                    <i class="fas fa-plus"></i> Add</a></p>
                        </div>
                    </div>
                    <div class="itemList">
                        {{#each actor.reputations as |item id|}}
                        <div class=" itemcard cuteborder item flexcol" data-item-id="{{item._id}}">
                            <div class="ability-mod  item-title flexrow flex-group-center">
                                <h4 class="flex-group-left item-name">{{item.name}}
                                </h4>
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                            <div class="flexrow flex-group-center talentInfo">
                                <p class="flex-group-left">level : {{item.data.level}} </p>
                                <p class="flex-group-left"> modifier : {{item.data.modifier}}</p>
                            </div>
                        </div>
                      
                        {{/each}}
                    </div>


                </div>


                {{!-- Biography Tab --}}
                <div class="tab biography" data-group="primary" data-tab="description">
                    <div class="itemList flexcol">
                        <h2 class="resource-label borderBottom">Description</h2>
                        <div class="biography">
                            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
                        </div>
                    </div>
                </div>
            </section>

        </div>
</form>