.cuteborder {
    border: 2px solid rgb(244, 194, 223);
    background: rgb(248, 225, 231);
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.cutebigtab {
    border: 5px solid rgb(244, 194, 223);
    background: rgb(255, 248, 225);
    border-radius: 30px;
    padding: 5px;
}

.cutenavposition {
    position: relative;
    display: flex;
    flex-flow: column;
    top: 80px;
    left: 22px;
    width: 0px;
    flex: 0 0 0 !important;
}

.cutenav {
    background: radial-gradient( ellipse at center, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 70%, rgba(224, 187, 228, 0) 70.3%);
    border: 5px solid rgb(244, 194, 223) !important;
    border-radius: 100%;
    margin-top: 2px;
    text-align: center;
}

.cutenavIcon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.cutenavText {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: none;
    margin-bottom: none;
}

.tailsofequestria .cuteTalentBorder {
    border: 3px solid rgb(244, 194, 223);
    background: rgb(255, 255, 255);
    border-radius: 30px;
    margin: 1px;
    margin-bottom: 01px;
    padding: 1%;
    padding-right: 10px;
    padding-left: 5px;
}