.item-form {
    font-family: $font-secondary;
}

.sheet-header {
    flex: 0 0 210px;
    overflow: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
    .header-fields {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}

.profile-img {
    flex: 0 0 100px;
    height: auto;
    width: auto;
    max-width: 160px;
    border: none;
    max-height: 200px;
    place-self: center;
}

.item-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    height: auto;
    width: auto;
    max-width: 160px;
    border: none;
    max-height: 160px;
    place-self: center;
}

h1 {
    height: 10%;
    font-size: x-large;
    border-bottom: 0;
}

.sheet-tabs {
    flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
    height: auto;
    min-height: 50px;
}

.tox {
    .tox-editor-container {
        background: $c-white;
    }
    .tox-edit-area {
        padding: 0 8px;
        min-height: 200px;
    }
}