<form class="{{cssClass}} colorscheme" autocomplete="off">
    <div class="cutebigtab">
        <div class="item-header ">
            <h1 class="resource-label sheet-name flex-right flex-between">
                <input class="borderBottom" name="name" type="text" value="{{item.name}}" placeholder="Name" />
            </h1>
            <div class="flexrow">
                <div class="resource  flexcol flex-group-center  cuteborder">
                    <label class="resource-label">{{localize "TOE.Level"}}</label>
                    <select name="system.level">
                                {{#select item.system.level}}
                                <option value="Esteemed">{{localize "TOE.Esteemed"}}</option>
                                <option value="Friendly">{{localize "TOE.Friendly"}}</option>
                                <option value="Neutral">{{localize "TOE.Neutral"}}</option>
                                <option value="Unfriendly">{{localize "TOE.Unfriendly"}}</option>
                                <option value="Hostile">{{localize "TOE.Hostile"}}</option>
                                {{/select}}
                            </select>
                </div>
                <div class="resource  flexcol flex-group-center  cuteborder">
                    <label class="resource-label">{{localize "TOE.Modifier"}}</label>
                    <select name="system.modifier">
                                {{#select item.system.modifier}}
                                <option value="Upgrade x2">{{localize "TOE.Upgrade"}} x2</option>
                                <option value="Upgrade x1">{{localize "TOE.Upgrade"}} x1</option>
                                <option value="None">{{localize "TOE.None"}}</option>
                                <option value="Downgrade x1">{{localize "TOE.Downgrade"}} x1</option>
                                <option value="Downgrade x2">{{localize "TOE.Downgrade"}} x2</option>
                                {{/select}}
                            </select>

                </div>
            </div>
        </div>
        <div class="resource noteitem flexcol  flex-left cuteborder">
            <label class="resource-label">{{localize "TOE.Description"}}</label>
            <textarea type="text" name="system.resume" value="{{item.system.resume}}" data-dtype="text">{{item.system.resume}}</textarea>
        </div>
    </div>
</form>