<form class="{{cssClass}} colorscheme" autocomplete="off">
    <header>
        <div class="cutebigtab">
            <div class="flexrow">
                <div class="flex-group-center"> <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" /></div>
                <div class="item-header ">
                    <h1 class="resource-label sheet-name flex-right flex-between">
                        <input class="borderBottom" name="name" type="text" value="{{item.name}}" placeholder="Name" />
                    </h1>
                    <div class="flexrow flex-center">
                        <div class="flexrow flex-center flex-right cuteborder">
                            <label for="system.source">{{localize "TOE.Source"}}</label>
                            <input class="reductionbox" type="text" name="system.source" value="{{item.system.source}}" data-dtype="text" />
                        </div>
                        <div class="flexrow flex-center flex-right cuteborder">
                            <input type="checkbox" name="system.used" {{checked item.system.used}} />
                            <label>{{localize "TOE.Used"}}</label>
                        </div>
                    </div>
                    <div class="grid grid-2col">
                        <div>
                            <div class="resource  flexcol flex-group-center  cuteborder">
                                <label class="resource-label">{{localize "TOE.Trait"}}</label>
                                <select name="system.ability.value">
                                    {{#select item.system.ability.value}}
                                    <option value="body">{{localize "TOE.Body"}}</option>
                                    <option value="mind">{{localize "TOE.Mind"}}</option>
                                    <option value="charm">{{localize "TOE.Charm"}}</option>
                                    <option value="">{{localize "TOE.None"}}</option>
                                    {{/select}}
                                </select>
                            </div>

                            <div class="resource flex-row cuteborder">
                                <div class="flexrow flex-group-center">
                                    <label class="resource-label">{{localize "TOE.Trait"}}</label>
                                    <select name="system.usePer.period">
                                        {{#select item.system.usePer.period}}
                                        <option value="day">day</option>
                                        <option value="week">week</option>
                                        <option value="session">session</option>
                                        <option value="">{{localize "TOE.None"}}</option>
                                        {{/select}}
                                    </select>
                                </div>
                                <div class=" resource-content flexrow flex-center flex-between">
                                    <input type="text" name="system.usePer.numberOfUse" value="{{item.system.usePer.numberOfUse}}" data-dtype="Number" />
                                    <span> / </span>
                                    <input type="text" name="system.usePer.maxValue" value="{{item.system.usePer.maxValue}}" data-dtype="Number" />
                                </div>
                            </div>
                        </div>
                        <div class="resource  flexcol flex-group-center  cuteborder">
                            <label class="resource-label">{{localize "TOE.Level"}}</label>
                            <select name="system.talentLevel.value">
                                {{#select item.system.talentLevel.value}}
                                <option value="1d4">1d4</option>
                                <option value="1d6">1d6</option>
                                <option value="1d8">1d8</option>
                                <option value="1d10">1d10</option>
                                <option value="1d12">1d12</option>
                                <option value="1d20">1d20</option>
                                {{/select}}
                            </select>
                            <div class="resource-content flex flex-row flex-right flex-between">
                                <label for="system.modif">{{localize "TOE.Modifier"}}</label>
                                <input class="reductionbox" type="number" name="system.modif" value="{{item.system.modif}}" data-dtype="Number" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="colorscheme">
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs flexrow flex-group-center" data-group="primary">
            <a class="cutenav cutenavText item" data-tab="description"> {{localize "TOE.Description"}}</i></a>
            <!-- <a class="cutenav cutenavText item" data-tab="knowledge"> knowledge</i></a> -->
        </nav>


        <section class="cutebigtab sheet-body">
            <div class="tab items" data-group="primary" data-tab="description">
                <div class="flexrow">
                    <div class="resource  flexcol flex-group-center cuteborder">
                        <div class="flexrow">
                            <input type="checkbox" name="system.poolPoint.isUsed" {{checked item.system.poolPoint.isUsed}} />
                            <label for="poolPoint.value">Points pool</label>
                        </div>
                        <div class=" staminabox resource-content flexrow flex-center flex-between">
                            <input class="staminatextbox" type="text" name="system.poolPoint.value" value="{{item.system.poolPoint.value}}" data-dtype="Number" />
                            <span> / </span>
                            <input class="staminatextbox" type="text" name="system.poolPoint.maxValue" value="{{item.system.poolPoint.maxValue}}" data-dtype="Number" />
                        </div>
                    </div>
                    <div class="resource  flexcol flex-group-center cuteborder">
                        <div class="flexrow">
                            <input type="checkbox" name="system.dicePool.isUsed" {{checked item.system.dicePool.isUsed}} />
                            <label for="system.dicePool.value">Dice pool</label>
                        </div>
                        <div>
                            <input class="reductionbox" type="number" name="system.dicePool.value" value="{{item.system.dicePool.value}}" data-dtype="Number" />
                        </div>
                    </div>
                    <div class="resource  flexcol flex-group-center cuteborder">
                        <div class="flex">
                            <input type="checkbox" name="system.addition.isUsed" {{checked item.system.addition.isUsed}} />
                            <label>Addition (not working yet)</label>
                        </div>
                    </div>
                </div>
                <div class="resource noteitem flex-left cuteborder">
                    <label class="resource-label">{{localize "TOE.Description"}}</label>
                    <textarea type="text" name="system.resume" value="{{item.system.resume}}" data-dtype="text">{{item.system.resume}}</textarea>
                </div>

                <!-- <div class="tab items " data-group="primary " data-tab="knowledge ">
              
            </div> -->
        </section>
        </div>
</form>