<form class="{{cssClass}} colorscheme" autocomplete="off">
    <header>
        <div class="cutebigtab">
            <div class="flexrow">
                <div class="flex-group-center"> <img class="item-img" src="{{item.img}}" data-edit="img"
                        title="{{item.name}}" /></div>
                <div class="item-header ">
                    <h1 class="resource-label sheet-name flex-right flex-between">
                        <input class="borderBottom" name="name" type="text" value="{{item.name}}" placeholder="Name" />
                    </h1>
                    <div class="flexrow flex-center">
                        <div class="flexrow flex-center flex-right cuteborder">
                            <label for="data.data.source">{{localize "TOE.Source"}}</label>
                            <input class="reductionbox" type="text" name="data.source" value="{{data.data.source}}"
                                data-dtype="text" />
                        </div>
                        <div class="flexrow flex-center flex-right cuteborder">
                            <input type="checkbox" name="data.used" {{checked item.data.used}} />
                            <label>{{localize "TOE.Used"}}</label>
                        </div>
                    </div>
                    <div class="grid grid-2col">
                        <div>
                            <div class="resource  flexcol flex-group-center  cuteborder">
                                <label class="resource-label">{{localize "TOE.Trait"}}</label>
                                <select name="data.ability.value">
                                    {{#select data.data.ability.value}}
                                    <option value="body">{{localize "TOE.Body"}}</option>
                                    <option value="mind">{{localize "TOE.Mind"}}</option>
                                    <option value="charm">{{localize "TOE.Charm"}}</option>
                                    <option value="">{{localize "TOE.None"}}</option>
                                    {{/select}}
                                </select>
                            </div>

                            <div class="resource flex-row cuteborder">
                                <div class="flexrow flex-group-center">
                                    <label class="resource-label">{{localize "TOE.Trait"}}</label>
                                    <select name="data.usePer.period">
                                        {{#select data.data.usePer.period}}
                                        <option value="day">day</option>
                                        <option value="week">week</option>
                                        <option value="session">session</option>
                                        <option value="">{{localize "TOE.None"}}</option>
                                        {{/select}}
                                    </select>
                                </div>
                                <div class=" resource-content flexrow flex-center flex-between">
                                    <input type="text" name="data.usePer.numberOfUse"
                                        value="{{data.data.usePer.numberOfUse}}" data-dtype="Number" />
                                    <span> / </span>
                                    <input type="text" name="data.usePer.maxValue" value="{{data.data.usePer.maxValue}}"
                                        data-dtype="Number" />
                                </div>
                            </div>
                        </div>
                        <div class="resource  flexcol flex-group-center  cuteborder">
                            <label class="resource-label">{{localize "TOE.Level"}}</label>
                            <select name="data.talentLevel.value">
                                {{#select data.talentLevel.value}}
                                <option value="1d4">1d4</option>
                                <option value="1d6">1d6</option>
                                <option value="1d8">1d8</option>
                                <option value="1d10">1d10</option>
                                <option value="1d12">1d12</option>
                                <option value="1d20">1d20</option>
                                {{/select}}
                            </select>
                            <div class="resource-content flex flex-row flex-right flex-between">
                                <label for="data.data.modif">{{localize "TOE.Modifier"}}</label>
                                <input class="reductionbox" type="number" name="data.modif" value="{{data.data.modif}}"
                                    data-dtype="Number" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="colorscheme">
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs flexrow flex-group-center" data-group="primary">
            <a class="cutenav cutenavText item" data-tab="description"> {{localize "TOE.Description"}}</i></a>
            <!-- <a class="cutenav cutenavText item" data-tab="knowledge"> knowledge</i></a> -->
        </nav>


        <section class="cutebigtab sheet-body">
            <div class="tab items" data-group="primary" data-tab="description">
                <div class="flexrow">
                    <div class="resource  flexcol flex-group-center cuteborder">
                        <div class="flexrow">
                            <input type="checkbox" name="data.poolPoint.isUsed" {{checked item.data.poolPoint.isUsed}} />
                            <label for="data.data.poolPoint.value">Points pool</label>
                        </div>
                        <div class=" staminabox resource-content flexrow flex-center flex-between">
                            <input class="staminatextbox" type="text" name="data.poolPoint.value"
                            value="{{data.data.poolPoint.value}}" data-dtype="Number" />
                        <span> / </span>
                        <input class="staminatextbox" type="text" name="data.poolPoint.maxValue"
                            value="{{data.data.poolPoint.maxValue}}" data-dtype="Number" />
                        </div>
                    </div>
                    <div class="resource  flexcol flex-group-center cuteborder">
                        <div class="flexrow">
                            <input type="checkbox" name="data.dicePool.isUsed" {{checked item.data.dicePool.isUsed}} />
                            <label for="data.data.dicePool.value">Dice pool</label>
                        </div>
                        <div>
                            <input class="reductionbox" type="number" name="data.dicePool.value"
                                value="{{data.data.dicePool.value}}" data-dtype="Number" />
                        </div>
                    </div>
                    <div class="resource  flexcol flex-group-center cuteborder">
                        <div class="flex">
                            <input type="checkbox" name="data.addition.isUsed" {{checked item.data.addition.isUsed}} />
                            <label">Addition (not working yet)</label>
                        </div>
                    </div>
                </div>
                <div class="resource noteitem  flex-left cuteborder">
                    <label class="resource-label">{{localize "TOE.Description"}}</label>
                    <textarea type="text" name="data.resume" value="{{data.data.resume}}"
                        data-dtype="text">{{data.data.resume}}</textarea>
                </div>

            <!-- <div class="tab items" data-group="primary" data-tab="knowledge">
              
            </div> -->
        </section>
    </div>
</form>